*{
    padding: 0px;
    margin: 0px;
}
.body_admin{
    display: flex;
    background-color: rgba(0,0,0,0.06);
}

.menu_admin{
    width: 17%;
    height: 790px;
    background-color: #172d44;
    border: 3px solid #172d44;
}
.account_admin{
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    border-bottom:3px solid #333333;
}
.account_admin .img_admin{
    margin-top: 10px;
    height: 80px;
    text-align: center;
}
.account_admin img{
    max-height: 80px;
    width: auto;
    border-radius: 50%;
}
.account_admin .name_admin{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}

.content_admin{
    height: 40px;
    width: 83%;
    background-color:#172d44;
    text-align: center;
    color: #fff;
}
.menu {
    margin-top: 20px;
}
.menu_item{
    height: 60px;
}
.menu_item a{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}
.menu_item:hover{
    background-color: #333333;
    display: block;
}
.menu_link{
    margin-left: 30px;
    display: flex;
}
.menu_link .icon{
    margin-top: 22px;
    margin-right: 10px;
}
.menu_link .title{
    margin-top: 22px;
}

/*--------------*/
.menu_product{
    width: 30%;
    height: 790px;
    border: 3px solid black;
    border-radius: 4px;
    margin-left: 2%;
}
.menu_product .banner_add{
    height: 40px;
    background-color: #172d44;
    color: #fff;
    text-align: center;
}
.menu_product .banner_add .title_add{
    font-size: 20px;
    padding: 6px;
}
.add_product{
    width: 100%;
}
.add_product .title_product{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 17px;
}
.add_product input{
    width: 100%;
    box-sizing: border-box;
    height: 38px;
    border-radius: 4px;
}
.add_product .describe{
    height: 150px;
    width: 100%;
    box-sizing: border-box;
}
.add_product button{
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    background-color: #172d44;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
}
.add_product button a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}


.list_product{
    width: 47%;
    height: 790px;
    border: 3px solid #172d44;
    margin-left: 2%;
}
.list_product .banner_list{
    height: 40px;
    width: 100%;
    background-color: #172d44;
    color: #fff;
    text-align: center;
}
.list_product .banner_list .title_list{
    font-size: 20px;
    padding: 6px;
}
.list_product .view_product {
    
}
.view_product_title {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.view_product_title .title_id{
    width: 5%;
}
.view_product_title .title_img{
    width: 25%;
}
.view_product_title .title_name{
    width: 20%;
}
.view_product_title .title_classify{
    width: 15%;
}
.view_product_title .title_price{
    width: 15%;
}
.view_product_title .title_quantiry{
    width: 10%;
}

.view_product_detail{
    width: 100%;
    display: flex;
    border: 1px solid black;
    height: 100px;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.view_product_detail .id_product{
    width: 5%;
}
.view_product_detail .img_product{
    width: 25%;
    height: 100px;
    box-sizing: border-box;
}
.view_product_detail .img_product img{
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    
}
.view_product_detail .name_product{
    width: 20%;
}
.view_product_detail .classify_product{
    width: 15%;
}
.view_product_detail .price_product{
    width: 15%;
}
.view_product_detail .quantity_product{
    width: 10%;
}
.view_product_detail .function{
    width: 10%;
    height: 100px;
}
.view_product_detail .p_product{
    margin-top: 20px;
}

.view_product_detail .function a {
    font-size: 20px;
    color: black;
}

.view_product_detail .function .delete_product{
    height: 40px;
    margin-top: 15px;
}

/*-------------------------------------------------*/
.banner_admin{
    height: 20px;
    margin-top: 5px;
}
.statistical{
    height: auto;
    width: 100%;
    margin-top: 15px;
    color: black;
    display: block;
    box-sizing: border-box;
    
}
.statistical .statistical_detail{
    display: block;
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    box-sizing: border-box;
}
.statistical .statistical_detail .title_statistical{
    display: flex;
    box-sizing: border-box;
    height: 40px;
    border: 3px solid black;
    line-height: 40px;
    background-color: #fff;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.month{
    width: 20%;
}
.number_user{
    width: 20%;
}
.turnover{
    width: 20%;
}
.chi_tiet{
    width: 20%;
}
.function{
    width: 20%;
}
.information{
    height: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    border: 3px solid black;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.information .month{
    height: 200px;
    box-sizing: border-box;
    line-height: 200px;
}
.information .number_user{
    height: 200px;
    box-sizing: border-box;
    line-height: 200px;
}
.information .turnover{
    height: 200px;
    box-sizing: border-box;
    line-height: 200px;
}
.information .function{
    height: 200px;
    box-sizing: border-box;
    line-height: 200px;
}
.information .chi_tiet a{
    text-decoration: none;
    color: blue;
    line-height: 200px;
}

.search{
    color: black;
    display: block;
    height: 60px;
    width: 90%;
    margin-left: 5%;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: #fff;
}
.search_detail{
    height: 60px;
    width: 90%;
    margin-left: 5%;
    text-align: left;
    line-height: 60px;
    font-size: 17px;
}
.search_detail input{
    height: 30px;
    margin-left: 20px;
}
 button{
    height: 35px;
    width: 80px;
    background-color: #eb5757;
    color: #fff;
    cursor: pointer;
}
/*--------------------------------*/
.so_luong{
    height: 310px;
    width: 100%;
    border: 3px solid black;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 5px;
    overflow-y: auto;

}
.tieu_de{
    font-size: 18px;
    display: block;
    height: 40px;
    border-bottom: 3px solid;
    line-height: 40px;
}
table  {
    width: 100%;
    font-size: 16px;
}
